 /*  * = universal selector, it will basically catch all */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*  this color selected below is going to be the background color, but it is also a lower or lowest priority color since it is highest on the list */
body {
    background-color: #d9dcd6;
}

 /*  This will look to find  class="header"  then will apply the attributes listed below */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* this refrences the position and size of horiseion at the top of the page */
.header h1{
    display: inline-block;
    font-size: 48px;
}

/* Middle of line 14 the letters seo just have a little bit more gray color to them */

.header h1 .seo {
    color: #d9dcd6;
}
/* Changed the three below from divs to nav in html then came over to css to connect them */
.header .nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header .nav ul {
    list-style-type: none;
}
/*  these two are talking about lists and the way they are styled/organized */
.header .nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

 /*  hero section of page */

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* determining styles of side bar */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h4 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h4 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h4 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* this is linked to an anchor tag */
.social-media-marketing  {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

 /*  determining size of larger images in h3 section */

.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}


.social-media-marketing img {
    max-height: 200px;
}

.search-engine-optimization h3 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h3 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h3 {
    margin-bottom: 20px;
    font-size: 36px;
}


h1 #strong {
    padding-top: initial;
}


/* footer styling */


footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h5 {
    font-size: 20px;
    text-align: center;
}
